/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #2c3e50;
  color: #ffffffaa;
  font-family: sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#page {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  max-width: 1200px;
  margin: 48px auto;
}

#title {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

#media-upload-label {
  display: block;
  padding: 24px 16px;
  width: 100%;
  border-radius: 8px;
  border: 2px dashed #7f8c8d;
  background-color: #95a5a6;
  font-weight: bold;
}

#media-upload-label.success {
  border-color: #16a085;
  background-color: #1abc9c;
}

#file {
  display: none;
}

#media-player {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  background-color: #000;
}

#media-player video {
  position: absolute;
  width: 100%;
  height: 100%;
}
